<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    #Normal {
        border: black 2px solid;
        padding-TOP: 15px;
        padding-LEFT: 15px;
        padding-RIGHT: 15px;
        text-align: center;
    }

    #Normal2 {
        padding-TOP: 15px;
        padding-LEFT: 15px;
        padding-RIGHT: 15px;
        text-align: right;
    }

    #lineaINF {
        border-bottom:1px solid #000000;
        padding-TOP: 15px;
        padding-LEFT: 15px;
        padding-RIGHT: 15px;
        text-align: center;
    }

    #lineaINF2 {
        border-bottom:1px solid #000000;
        padding-TOP: 15px;
        padding-LEFT: 15px;
        padding-RIGHT: 15px;
        text-align: center;
    }

    .wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
    }

    .container {
        grid-column: 2/ 4;
        grid-row: 1 / 1;
    }

    .one {
        grid-column: 1 / 1;
        grid-row: 1;
    }

    .two {
        grid-column: 2/ 4;
        grid-row: 1 / 1;
    }
    </style>

    <title>Hello, world!</title>
</head>

<body>

    <div class="wrapper">
        <div class="one"><img src="/EQUIPOSBACH/img/logo.png" alt="logo" width=200 height=100 /></div>
        <div class="two">
            <table style="border: black 2px solid;">
                <tr>
                    <td align="center" colspan="4" style="border: black 2px solid;"><b>Carta Resguardo </b></td>
                </tr>
                <tr>
                    <td id="Normal" style="font-size: 11px">Clave: TI-FO-01</td>
                    <td id="Normal" style="font-size: 11px">Fecha de elaboración: 25/1/2023</td>
                    <td id="Normal" style="font-size: 11px">Revisión: 02</td>
                    <td id="Normal" style="font-size: 11px">Página: 1
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <br/>
    <div style="border: black 2px solid;">
        <h3 align="center">Usuario responsable del equipo </h3>
        <table>
            <tr>
                <td id="Normal2" align="right" style="font-size: 11px">Division: </td>
                <td id="lineaINF" style="font-size: 11px"> Adrian Garcia </td>
                <td id="Normal2" align="right" style="font-size: 11px">Centro de trabajo: </td>
                <td id="lineaINF" style="font-size: 11px"> TI </td>
                </td>
            </tr>
            <tr>
                <td id="Normal2" align="right" style="font-size: 11px">Nombre: </td>
                <td id="lineaINF" style="font-size: 11px"> Adrian Garcia </td>
                </td>
            </tr>
            <tr>
                <td id="Normal2" align="right" style="font-size: 11px">Puesto: </td>
                <td id="lineaINF" style="font-size: 11px"> TECNICO </td>
                </td>
            </tr>
        </table>
        <br />
        </div>
        <p>Por medio de la presente hago constar que tengo bajo mi custodia el equipo de cómputo y software que a continuación se describe:</p>
        
        <div style="border: black 2px solid;">
            <h3 align="center">Datos del equipo </h3>
            <table>
                <tr>
                    <td id="Normal2" align="right" style="font-size: 11px">Service Tag:</td>
                    <td id="lineaINF" style="font-size: 11px"> 12343456 </td>
                    </td>
                <tr>
                    <td id="Normal2" align="right" style="font-size: 11px">Marca: </td>
                    <td id="lineaINF" style="font-size: 11px"> del </td>
                    <td id="Normal2" align="right" style="font-size: 11px">Modelo: </td>
                    <td id="lineaINF" style="font-size: 11px"> laptitude3388 </td>
                    </td>
                </tr>
                <tr>
                    <td id="Normal2" align="right" style="font-size: 11px">Procesador: </td>
                    <td id="lineaINF" style="font-size: 11px">Intel Core i5-10100T CPU @ 3.00GHz</td>
                    </td>
                </tr>
                <tr>
                    <td id="Normal2" align="right" style="font-size: 11px">Memoria RAM: </td>
                    <td id="lineaINF" style="font-size: 11px"> 8GB </td>
                    <td id="Normal2" align="right" style="font-size: 11px">Disco duro: </td>
                    <td id="lineaINF" style="font-size: 11px"> 475GB HDD </td>
                    </td>
                </tr>
                <tr>
                    <td id="Normal2" align="right" style="font-size: 11px">Sistema Operativo: </td>
                    <td id="lineaINF" style="font-size: 11px"> Microsoft Windows 11 Enterprise </td>
                    </td>
                </tr>
            </table>
            <br />
        </div>
        <br />
        <p>Dicho equipo queda bajo mi custodia y responsabilidad. Me comprometo a conservarlo en buenas condiciones y a cumplir las políticas internas sobre el uso de equipos de cómputo, periféricos y software; de lo contrario, me haré acreedor a las sanciones que Bachoco S.A. de C.V. y/o sus filiales y prestadoras establezca.
            Asimismo, entregaré el equipo al área de Tecnologia de Información cuando me sea solicitado, cuando deje de prestar mis servicios en la Empresa o cuando se sustituya el equipo, en cuyo caso se deberá de elaborar una nueva Carta de Resguardo y cancelar la anterior.
            En caso de extravío, mal uso o robo no cubierto por la aseguradora, autorizo que Bachoco S.A. de C.V. y/o sus filiales y prestadoras a la cual pertenezco, proceda a descontar el importe correspondiente a la reposición del equipo vía nómina u otras formas de pago autorizadas.</p>
            <table>
                <tr>
                    <td align="center"><h5>ACEPTO</h5></td>
                    <td align="center"><h5>ACEPTO</h5></td>
                    <td align="center"><h5>ACEPTO</h5></td>
                </tr>
            </table>
            <br /><br /><br />
        <table> 
                    <td align="center"><h6>____________________________________</h6></td>
                    <td align="center"><h6>____________________________________</h6></td>
                    <td align="center"><h6>____________________________________</h6></td>
                </tr>
                <tr>
                    <td align="center"><h6>adrian</h6></td>
                    <td align="center"><h6>Tecnología de Información</h6></td>
                    <td align="center"><h6>Recursos Humanos</h6></td>
                </tr>
            </table>
        <!-- Optional JavaScript; choose one of the two! -->

        <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous">
        </script>

        <!-- Option 2: Separate Popper and Bootstrap JS -->
        <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    -->
</body>

</html>